
<nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top justify-content-center">

	<ul class="navbar-nav">

		<li class="nav_item">
			<a class="nav-link" href="/products/mobile">Mobiles</a>
		</li>
		<li class="nav_item">
			<a class="nav-link" href="/products/laptop">Laptops</a>
		</li>
		<li class="nav_item">
			<a class="nav-link" href="/products/tv">TVs</a>
		</li>

</nav>