<style>
    .avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }
</style>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header>
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
               <div class="container-fluid">
                   <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <img src="/img/img_avatar.png" alt="Avatar" class="avatar">
                            <div class="header-info-left d-flex">
                                <div class="flag">
                                    <img src="/img/icon/header_icon.png" alt="">
                                </div>
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">USA</option>
                                                <option value="">SPN</option>
                                                <option value="">CDA</option>
                                                <option value="">USD</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <ul class="contact-now">     
                                    <li>+777 2345 7886</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                               <ul>                                          
                                   <li><a href="login.ejs">My Account </a></li>
                                   <li><a href="product_list.ejs">Wish List  </a></li>
                                   <li><a href="cart.ejs">Shopping</a></li>
                                   <li><a href="cart.ejs">Cart</a></li>
                                   <li><a href="checkout.ejs">Checkout</a></li>
                               </ul>
                            </div>
                            
                        </div>
                   </div>
               </div>
            </div>
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                              <a href="/"><img src="/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>                                                
                                    <ul id="navigation">                                                                                                        
                                        <li><a>Electronics</a>
                                            <ul class="submenu">
                                                <li><a href="/d/buyer?type=mobile">Mobile</a></li>
                                                <li><a href="/d/buyer?type=laptop">Laptop</a></li>
                                                <li><a href="/d/buyer?type=tv">TV</a></li>
                                            </ul>
                                        </li>

                                        <li class="hot"><a href="#">Latest</a>
                                            <ul class="submenu">
                                                <li><a href="product_list.ejs"> Product list</a></li>
                                                <li><a href="single-product.ejs"> Product Details</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="login.ejs">Login</a></li>
                                                <li><a href="cart.ejs">Card</a></li>
                                                <li><a href="elements.ejs">Element</a></li>
                                                <li><a href="about.ejs">About</a></li>
                                                <li><a href="confirmation.ejs">Confirmation</a></li>
                                                <li><a href="cart.ejs">Shopping Cart</a></li>
                                                <li><a href="checkout.ejs">Product Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.ejs">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> 
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search products">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                 </li>
                                
                                
                                <li class="nav-item dropdown d-none d-lg-block">
                                    <a class="nav-link dropdown-toggle btn header-btn" href="#" id="navbardrop" data-toggle="dropdown">Sign in</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/auth/buyer_login"> as Buyer</a>
                                        <a class="dropdown-item" href="/auth/seller_login"> as Seller</a>
                                    </div>
                                </li>
                               <!-- <li class="d-none d-lg-block"> <a href="/auth/login" id="signInBtn" class="btn header-btn">Sign in</a></li> -->
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>