body{
	background: orange;
}

button{
	border-style: none;
	padding-top: 5px;
	margin-top: 10px;
}

a{
	color: grey;
}

#login_modal_div {
	display: none;
}

#signup_modal_div{
	display: none;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }